<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>JsonTest</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>getUsersServlet</servlet-name>
        <servlet-class>com.test.json.getUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHairPhotoServlet</servlet-name>
        <servlet-class>com.test.json.getHairPhotosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFacePhotosServlet</servlet-name>
        <servlet-class>com.test.json.getFacePhotosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFace_HairServlet</servlet-name>
        <servlet-class>com.test.json.getFace_HairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkLoginServlet</servlet-name>
        <servlet-class>com.test.json.checkLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCommunityServlet</servlet-name>
        <servlet-class>com.test.json.getCommunityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkRegisterServlet</servlet-name>
        <servlet-class>com.test.json.checkRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendCommunityMessageServlet</servlet-name>
        <servlet-class>com.test.json.sendCommunityMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpAndDownServlet</servlet-name>
        <servlet-class>com.test.json.upAndDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterUserInfServlet</servlet-name>
        <servlet-class>com.test.json.alterUerInfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hateAnDLoveServlet</servlet-name>
        <servlet-class>com.test.json.hateAndLoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveImageServlet</servlet-name>
        <servlet-class>com.test.json.saveImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>communityImageServlet</servlet-name>
        <servlet-class>com.test.json.communityImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUsersServlet</servlet-name>
        <url-pattern>/getUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHairPhotoServlet</servlet-name>
        <url-pattern>/getHP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFacePhotosServlet</servlet-name>
        <url-pattern>/getFP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFace_HairServlet</servlet-name>
        <url-pattern>/getFH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLoginServlet</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCommunityServlet</servlet-name>
        <url-pattern>/getcommunity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkRegisterServlet</servlet-name>
        <url-pattern>/checkregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendCommunityMessageServlet</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpAndDownServlet</servlet-name>
        <url-pattern>/upanddown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterUserInfServlet</servlet-name>
        <url-pattern>/alteruserinf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hateAnDLoveServlet</servlet-name>
        <url-pattern>/hateandlove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveImageServlet</servlet-name>
        <url-pattern>/saveimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>communityImageServlet</servlet-name>
        <url-pattern>/communityimage</url-pattern>
    </servlet-mapping>
</web-app>